.contact
  padding 132px 0
  background #fff

  &_box
    display flex
    flex-wrap wrap
    justify-content space-between

    &__items
      border 1px solid #f1f1f1
      border-radius 4px
      padding  58px 28px 28px
      position relative
      margin-right 20px
      margin-bottom 20px
      display flex
      flex-direction column
      justify-content flex-end

      &-link
        display flex
        margin-top 20px

        &>a
          color #645E9D
          margin-right 12px
          padding 9px 16px
          border-radius 4px
          background rgba(100, 94, 157, 0.08)

      &>img
        position absolute
        right 24px
        top 24px

      &:nth-child(1)
        width calc(41% - 20px)
      &:nth-child(2)
        width calc(29% - 20px)
      &:nth-child(3)
        width calc(30% - 20px)
      &:nth-child(4)
        width calc(32% - 20px)
      &:nth-child(5)
        width calc(34% - 20px)
      &:nth-child(6)
        width calc(34% - 20px)


@media all and (max-width 1440px)
  .contact
    padding 132px 68px 0