.promo-faq
  border-bottom 1px solid #F1F1F1

.faq
  &_head
    text-align center
    margin-top 90px

    &>h2
      margin-bottom 16px

  & .subTitle
    font-size 1.888888em
    font-weight 300
    margin 126px 0 40px

  &_content
    &__items
      border-top 1px solid #F1F1F1
      padding 24px 0
      position relative

      &-head
        &>img
          position absolute
          right 0
          top 20px

        & .title
          font-weight 900

      &-content
        max-width 900px

      &.open
        & .faq_content__items-head
          margin-bottom 20px