.footer
  background #FCFCFC
  width 100%
  display flex
  justify-content center
  z-index 1
  padding 40px 0

  & .container
    display flex
    align-items center
    justify-content space-between

  &_right
    display flex
    align-items center
    

    & h5
      color #5C5C5C

    &-line
      border-right 1px solid #DCDCDC
      padding 0 36px

    &-soc
      margin-left 36px
      margin-right 24px