*{
    margin 0
    padding 0
    scroll-behavior smooth
    box-sizing border-box
    font-family Roboto
}
h1{
    font-size 5.333333em
    line-height 120%
}
h2{
    font-size 3.333333em
    line-height 120%
}
h3{
    font-size 2.666666em
    line-height 120%
}
h4{
    font-size 1.888888em
    line-height 130%
}
h5{
    font-size 1.666666em
    line-height 140%
}
p{
    font-size 1em
    line-height 140%
}
.subP{
    font-size 0.777777em
    line-height 140%
}
ul, li{
    list-style none
}
a{
    outline none
    text-decoration none
    color #5C5C5C
}
body{
    font-size 18px
    color #5C5C5C
    user-select none
}