.wrapper::before
  position absolute
  content ''
  display block
  width 100vw
  min-height 120vh
  margin-top -10vh
  background url('../img/background.jpg') center no-repeat
  background-size cover
  position fixed
  opacity 1

.promo
  min-height 100vh
  width 100%
  transition 1s
  background transparent
  position relative
  color #fff

  &_main
    display flex
    flex-direction column
    align-items center
    position relative
    margin-top 200px

    &>p
      max-width 60%
      text-align center
      margin 12px 0 66px

    &__button
      display flex
      align-items center
      position relative
      width fit-content

      &>a
        text-align center
        letter-spacing 1px
        color #fff
        font-weight bold
        padding 20px 60px
        border-radius 4px
        transition .4s
        background linear-gradient(91.7deg, #66B700 0%, #A2D906 100%)