.tariffs
  background #fff
  padding-top 180px

  &_box
    display flex
    margin-top 80px
    position relative

    & .card
      width 366px
      height 515px
      display flex
      flex-direction column
      border-radius 18px
      overflow hidden
      position relative
      border 1px solid #F5F5F5
      transition 1s
      margin 0 10px

      &:focus
        outline none

      &::before
        content ''
        display block
        width 100%
        position absolute
        bottom 0
        height 100px
        background linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 46.35%)
        z-index 99

      &_head
        display flex
        justify-content space-between
        align-items center
        position relative
        border 1px solid #F3F3F3
        overflow hidden
        min-height 120px
        margin-bottom 24px

        &>h4
          color #5C5C5C
          margin-left 24px

          &::after
            content ''
            display block
            background #A3D466
            width 32px
            height 2px
            border-radius 2px

        & img
          position absolute
          right 0
          top 0
          z-index -1

      &_content
        padding 0 24px
        display flex
        justify-content space-between

        & .card_column
          text-align center
          margin-bottom 30px
          display flex
          flex-direction column
          width 92px

          &__top
            color #5C5C5C
            margin-bottom 12px
            background #FCFCFC
            border 1px solid #F5F5F5
            border-radius 5px
            padding 6px 0
            text-transform uppercase
            font-weight bold
            align-self center
            width 100%
          
          &__bottom
            background #fff
            border 1px dashed #F5F5F5
            box-shadow 0px 0px 12px rgba(0, 0, 0, 0.03)
            border-radius 3px
            padding 28px 0
            white-space nowrap
            color #1B8508
            align-self center
            width 100%
            transition .5s


            &.open
              transform translateY(-170px)
      &_bottom
        height 170px
        padding 0 24px
        margin-bottom 70px
        display flex
        flex-direction column
        position relative
        background #fff

        & .soon
          width 100%
          margin 0

.cardT
  transition .3s linear

.price
  position relative
  margin-bottom 24px

  &::after
    content ''
    display block
    position absolute
    width 100%
    height 2px
    background #85C533

.card_button
  margin-top 23px
  cursor pointer
  position absolute
  bottom 20px
  left 50%
  transform translateX(-50%)
  transition .4s
  background #fff
  border-radius 50%
  z-index 999

  &.open
    transform translateX(-50%) rotate(180deg)
    transition .4s